h1{ text-align: center;}
body{background-color: #cad2c5;}
h3{text-align: center;
    color:#023047;}
.container{max-width:400px;
            border: 1px solid black;
            border-radius: 15px;
            padding-top:7px;
            padding-bottom:10px;
            padding-left:15px;
            padding-right:15px;
            margin-top:50px;}
.container1{max-width:500px;
}
button{width:50%;
        }
a{color:black;}
a{color:white;}
a:hover{color:black;}