
body{background-color: #cad2c5;}
h3{text-align: center;
    color:#023047;}
    table, th, td {
        border: 2px solid white;
      }
table{text-align: center;
     background-color: #6c757d;}
.container{max-width: 600px;}
.navbar-custom{color:aqua;}
button{align-items:center;}
a{color:white;}
a:hover{color:black;}